#bed{
    color: rgba(21, 21, 21, 1);
    width: 32pt;
    height: 16pt;
    font-size: 15pt;
    font-weight: 500;
    margin-left: 16pt;
    margin-top: 5pt;
    text-align: center;
    float: left;
}