#domitory_building_display{
    color: rgba(21, 21, 21, 1);
    width: 240pt;
    height: 16pt;
    font-size: 16pt;
    font-weight: 500;
    padding-left: 16pt;
    padding-top: 16pt;
    float: left;
}