#live_in_person_num_ex{
    color: rgba(21, 21, 21, 1);
    width: 70pt;
    height: 16pt;
    font-size: 16pt;
    margin-left: 50pt;
    padding-top: 16pt;
    text-align: center;
    float: left;
}