#op_ex{
    color: rgba(2, 149, 255, 1);
    width: 32pt;
    height: 16pt;
    font-size: 15pt;
    font-weight: 400;
    margin-left: 20pt;
    margin-top: 5pt;
    text-align: center;
    float: left;
}